<h1>Edit your article:</h1>
<form action="/articles/<%= @article.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="article_title">Article's title:</label>
    <br>
    <input id="article_title" type="text" name="title">
    <br>
    <br>
    <label for="article_content">Enter the article's content:</label>
    <br>
    <textarea name="content" id="article_content"></textarea>
    <br>
    <br>
    <input type="submit" id="submit">
</form>

