<h1>Create a New Article</h1>
<form method="post" action="/articles">
<p>Title: <input id="title" type="text" name="article[title]"</p>
<p>Content: <input id="content" type="text" name="article[content]"</p>
<input id= "submit" type="submit">
</form>