<h1>New Article</h1>
<form action="/articles" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="article[title]" id="title">
    <label for="content">Content: </label>
    <input type="text" id="content" name="article[content]">
    <input type="submit" name="submit">
</form>